<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>OpenStreetMap with Roads Layer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
        }
    </style>
</head>
<body>
<form id="searchForm">
    <label for="name">Search Name:</label>
    <input type="text" id="name" name="name" list="resultsDropdown">
    <datalist id="resultsDropdown"></datalist>
    <button type="submit">Search</button>
</form>
<div id="map"></div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([1.3521, 103.8198], 13); // Coordinates for Singapore

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var roads = {{.Roads}};
    var allLatLngs = [];

    roads.forEach(function(road) {
        var way = JSON.parse(road.Way);
        var latlngs = way.coordinates.map(function(coord) {
            var point = L.Projection.SphericalMercator.unproject(new L.Point(coord[0], coord[1]));
            return [point.lat, point.lng];
        });
        allLatLngs = allLatLngs.concat(latlngs);
    });

    L.polyline(allLatLngs, {color: 'blue'}).addTo(map);
</script>
<script>
    var timeout = null;

    document.getElementById('name').addEventListener('input', function() {
        console.log("searching")
        clearTimeout(timeout);
        var name = this.value;
        if (name.length > 2) {
            timeout = setTimeout(function() {
                fetch('/lookup?name=' + name)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        var dropdown = document.getElementById('resultsDropdown');
                        dropdown.innerHTML = '';
                        data.forEach(function(point) {
                            var option = document.createElement('option');
                            option.value = point.ID;
                            option.text = point.Name;
                            dropdown.appendChild(option);
                        });
                    });
            }, 2000); // 2 seconds delay
        }
    });

    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var osmID = document.getElementById('name').value;
        if (osmID) {
            var url = new URL(window.location.href);
            var params = url.searchParams;
            params.append('osm_id', osmID);
            window.location.href = url.toString();
        }
    });
</script>
</body>
</html>